

.GalleryFrame {
    outline: 5px solid grey;
    background-image: url("/src/assets/pexels-life-of-pix-67468.jpg");
    background-size: 600px;
    min-height: 400px;
    margin-bottom: 10rem;
}

.GalleryFrame:hover {
    cursor: pointer;
    color: rgb(100, 183, 108);
}

.GalleryFrame div {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, rgb(36, 36, 36), rgba(128, 128, 128, 0));
}

.GalleryFrame div h1 {
    padding: 1rem;
}
