@import url("../../colorPalette.css");
.Browse {
    width: 100%;
    --background-image: linear-gradient(45deg, var(--secondary-bg-hover), var(--secondary-bg));
    background-color: var(--seperator);
}

.Search {
    height: 30vh;
    border-bottom: 2rem solid var(--seperator);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#RestaurantSearch {
    height: 3rem;
    width: 20vw;
    background-color: aliceblue;
    color: black;
    border-bottom: 5px solid var(--accent);
    font-size: large;
}

.Categories {
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    border-bottom: 2rem solid var(--seperator);
    --background-image: linear-gradient(to left, black, white);
}

.Category {
    width: calc(30% - 1rem);
    height: 70vh;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    overflow-y: auto;
    border-left: solid 1rem var(--accent-hover);
    border-bottom: solid 1rem var(--accent);
}

#HighestRated {
    margin-left: 2.5%;
}

.RList {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--primary-fg);
}

.CategoryName {
    margin-left: 1rem;
    border-bottom: solid var(--primary-fg) 3px;
}

.restaurant-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.badge {
  font-weight: bold;
  color: #FFD700;           /* golden text */
  background-color: #222;    /* dark background */
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  min-width: 2rem;
  text-align: center;
}