

.MyPage {
    height: 5vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(70, 79, 32), rgb(61, 46, 20));
}

#MyPageBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: linear-gradient(-45deg, rgb(59, 59, 59), black);
}

.FavoriteRestaurants {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Profile {
    width: 30%;
    background-color: blue;
    padding-left: 1rem;
}